
*{
    font-family: 'manrope';
    margin: 0;
}
Html,body{
    width: 100vw;
    margin: 0px;
    padding: 0px;
    font-size: 16px; 
    cursor:default;
    color: rgba(24, 25, 31, 1);
    scroll-behavior: smooth;
}

/* Navbar Start */
.wholeNavbar{
    background-color: white;
    width: 100vw;
    height: auto;
    position: fixed;
    z-index: 10;
}
.sticky {
      border-bottom: rgba(128, 128, 128, 0.199) 1px solid;

}

.navbarContent{
    position: relative;
    height: 71px;
    max-width: 1200px;
    margin: 0px auto;
    padding: 10px 65px 10px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbarContent_left{
    width: 100%;
    display: flex;
}

.nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1rem;
    font-weight: 500;
    margin-left: 50px;
    

}
.nav li{
    list-style: none;
    padding-left: 1rem;
    padding-right: 1rem;
}
.logoBox{
    width: 300px;
}
.logo{
    width: 200px;
}


.list{
    position: relative;
    text-decoration: none;
    display: inline-block;
    transition: color .5s;
    color: #333333;

}

.list::after{
    content: " ";
    position: absolute;
    height: 2px;
    opacity: 0;
    width: 100%;
    background-color: rgba(47, 128, 237, 1);
    left: 0;
    bottom: -5px;
    transition: 0.5s;
}
.list:hover{
    color: rgba(47, 128, 237, 1);
}
.list:hover:after{
    opacity: 1;
}

.loginBox{
    display: flex;
}

.login {
    padding: 0;
    margin-right: 50px;
    text-decoration: none;
    font-size: 1rem;
    font-weight:500;
    border: none;
    background-color: inherit;
    cursor: pointer;
    color: #212121;
}

.navSignup {
    justify-self: flex-end;
    height: 40px;
    width: 193px;
    background-color: rgba(47, 128, 237, 1);
    border-radius: .5rem;
    text-align: center;
    border: 1px solid rgba(47, 128, 237, 1);
    color: white;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    transition: 0.6s;
    opacity: 1;
}

.navSignup:hover{
    background-color: rgba(31, 93, 176, 1);
}


.signup{
    height: 50px;
    width: 200px;
    background-color: rgba(47, 128, 237, 1);
    border-radius: 8px;
    text-align: center;
    border: 1px solid rgba(47, 128, 237, 1);
    color: white;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    opacity: 1;
}

.signup:hover{
    background-color: rgba(31, 93, 176, 1);

    
}

.responsiveBar{
visibility: hidden;
position: absolute;
}
.navBarResponsive{
visibility: hidden;
position: absolute;
}
.responsiveHidden{
    position: absolute;
    visibility: hidden;
    transform: scale(0);
}


/* Navbar End */
.WholeContainer{
    position: relative;
    width: 100vw;
    transform: translateY(75px);
}


/* Section 1 */
.Sec1Container{
    display: grid;
    grid-template-columns: 45% 55%;
    align-items: center;
    position: relative;
    margin: 0px auto;
    padding: 0px 40px;
    width: auto;
    max-width: 1200px;
    height: 650px;
    background-color: rgba(255, 255, 255, 1);
    overflow: hidden;

}


.writeUps{
    background-color: rgb(255, 255, 255);
    width: 100%;
    position: relative;
    height: auto;
}
.writeUps p{
    margin: 0;
    display: inline-block;
    color: rgba(24, 25, 31, 1);
    font-size: 2.875em;
    font-weight: 800;
    text-align: left;
    
}
.writeUps h6{
    width: 400px;
    margin: 20px  0px;
    display: block;
    color: #9D9FA6;
    font-size: 20px;
    font-weight: 500;
}
.animationGrid{
    position: relative;
    display: flex;
    align-items: center;

}
.animationGrid img{
    width: 100%;
    z-index: 2;
}    



/* Section 1 End */

/* Section 1.2 Start */
    .section1_2{
    position: relative;
    width: 100%;
    height: auto;
    background-image: 
    linear-gradient(#CADFFB 0%, 44.72906291484833%, #F1F7FF 100%);


}

.section1_2Container{
    position: relative;
    box-sizing: border-box;
    max-width: 1200px;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    padding: 50px 0px;
    justify-content: center;
    align-items: center;
}

.section1_2Container_header{
    flex: 2;
    font-size: 2.25em;
    font-weight: 700;
}
.section1_2Container_content{
    flex: 5;
    position: relative;

}
.section1_2Container_content img{
    height: 630px;
}
.section1_2Container_footer{
        flex: 2;
        font-size: 1.25em;
        font-weight: 400;
        color: #8692A6;
        text-align: center;

}

/* 1.2 End */

/* sec 1_3 Start */
.section1_3{
    position: relative;
    width: 100%;
    height: auto;
    background-color: #FFFFFF;
}
.section1_3Container{
    position: relative;
    height: 930px;
    box-sizing: border-box;
    max-width: 1200px;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    padding: 50px 0px;
    justify-content: center;
    align-items: center;
}
.section1_3Container_header{
    font-size: 2.25em;
    font-weight: 700;
    margin-bottom: 30px;
}
.section1_3Container_content{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.section1_3Container_content_image{

}
.section1_3Container_content_writeUp{
    text-align: center;
    font-size: 1.25em;
    font-weight: 500;
    color: #8692A6;
}
.section1_3Container_content_icons{
    margin-top: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.section1_3Container_content_icons_box{
    height: 200px;
    width: 215px;
    position: relative;
    border: 1px solid #ffffff;
    border-radius: 300px;
    font-size: 1.125em;
    font-weight: 500;
    color: #8692A6;
    text-align: center;
    display: flex;
    flex-direction: column;

}
.section1_3Container_content_icons_box p{
    margin: 25px 5px;
}



/* sec 1_3 End */


/* section 2 start */
.section2{
    padding: 50px 0px;
    width: 100%;
    height: auto;
    background-image:
       linear-gradient(to left, #CADFFB 0%, 60%, #F1F7FF 100%);
}
.section2Pre_container{
     box-sizing: border-box;
    max-width: 1200px;
    margin: 0px auto;
    text-align: center;
    margin-bottom: 40px;
}
.section2Pre_container h2{
    font-size: 2.25em;
    font-weight: 700;
    margin-bottom: 10px;
}
.section2Pre_container p{
    font-size: 1.25em;
    font-weight: 500;
    color:#8692A6 ;
}

.section2container{
    box-sizing: border-box;
    max-width: 1200px;
    height: 100%;
    margin: 0px auto;
    display: flex;
    padding: 0px 0px;
    justify-content: center;
    align-items: center;
}

.sec2Label{
    flex: 1.15;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.sec2Label li.current-link{
    color: rgba(31, 93, 176, 1);
    font-size:22px ;
}


.sec2Label li{
    list-style: none;
    font-size: 24px;
    font-weight: 400;
    margin: 10px 5px;
    cursor: pointer;
    text-align: end;
    color: #18191F;
}

.sec2image{
    flex: 2;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 100%;
}
.displayBoxImage{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: visible;

}

.displayBoxImageAgain{
    width: 250px;
    height: 450px;
    position: relative;
    display: flex;
    flex-direction: column;
    transition: transform 1s;
    
}
.sec2image img{
    position: absolute;
    width: 230px;
    margin: 0px 0px;
}
.current-image{


}
.vanish-image{
    opacity: 0;
    transition: opacity .2s;
}





.sec2writeUp{
    flex: 3;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;

}
.displayBoxWriteUp{
    height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

}
.displayBoxWriteUpAgain{
    position: relative;
    height: 200px;
    width: 100%;
    transition: transform 1s;



}
.anim{
    position: absolute;
}
.anim h2{
    font-size: 36px;
    margin: 0px 0px 40px 0px;
}
.anim p{
    font-size: 18px;
    margin: 0;
    width: 75%;
}

/* section 2 END */


/* Section 4 */

.section4{
    width: 100%;
    height: auto;
}
.Sec4Container{
    position: relative;
    box-sizing: border-box;
    max-width: 1200px;
    height: 800px;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    padding: 50px 0px 0px 0px;
    align-items: center;
}

.sec4Writeup{
    align-self: center;
    width: auto;
    margin: 0;
    display: inline-block;
    font-weight: 650;
    text-align: center;
}
.sec4image{
    position: relative;
    height: 85%;
}
.desktopDashboard{
    height: 100%;
}

.sec4Writeup p{
    font-size: 1.25rem;
    color: #8692A6;
    font-weight: 500;
}
.sec4Writeup h3{
    font-size: 2.25rem;
    font-weight: 700;
    margin-bottom: 30px;
}

/* Section 4 End */

.section5_2{
    width: 100%;
    border-bottom: rgba(128, 128, 128, 0.459) 1px  solid;
    background-image:
       linear-gradient(to left, #CADFFB 0%, 60%, #F1F7FF 100%);
}
.sec5_2Content{
    position: relative;
    box-sizing: border-box;
    max-width: 1200px;
    height: 730px;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    padding: 50px 0px;
    align-items: center;
    background-image: url(" ../icons/sec5 BGimage(blue).svg ");
    background-position: 50% 140%;
    background-repeat: no-repeat;
    background-size: contain;
}
.sec5_2Content_middle{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sec5_2Content_bottom{
    width: 45%;
    display: flex;
    align-items: center;
}
.sec5_2Content h1{
    font-size: 2.25em;
    font-weight: 700;
    margin: 20px 0px ;
}
.sec5_2Content h2{
    font-size: 4em;
    font-weight:800;
    margin: 0px 15px;
    background: -webkit-linear-gradient(#000000, #2F80ED);
    -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}
.sec5_2Content p{
    font-size: 1.25em;
    font-weight: 500;
    color: #8692A6;
    width: 60%;
    text-align: center;
    margin-bottom: 20px;
}


.sec5_2Content_middle p{
    width: 80%;
}
.sec5_2Content_bottom p{
    width: 70%;
    text-align: left;
    margin-bottom: 0pc;
}

/* Sec5 end */

/* sec 6 Start */
.section6Container{
    position: relative;
    box-sizing: border-box;
    max-width: 1200px;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    padding: 100px 0px;
    justify-content: center;
    align-items: center;

}
.section6Container_content{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

}
.section6Container_content_icons{
    margin: 50px 0px;

}

/* Sec 6 End */


/* Footer Start */
.section_footer{
    width: 100%;

    position: relative;
    background: #0B0D17;


}
.footer{
    max-width: 1200px;
    margin: 0px auto;
    padding: 30px 0px;
    position: relative;
    display: flex;
    flex-direction: column;
}
.footer_content{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.footer_content_list{
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-bottom: 20px;

}
.footer_content_list h3{
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 20px;

}
.footer_content_list a{
    color: #9D9FA6;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    margin: 10px 0px;
}
.footer_copyright{
    text-align: right;
    margin: 20px 0px;
}
.footer_copyright p{
    color: #9D9FA6;
    font-size: 11px;
    font-weight: 400;
}


.indexDecor img{
    width: 200px;
    height: 150px;
    position: absolute;
    z-index: +2;
}

/* Footer End */

/* sdfsdagasdfgdfsag
sdg
sdag
sadg
asd
gsag
dfg
dfg
sad
g
sadg
sdg
sdg
sadg
asdg
as
dg
sdag
sdg
sad
g
sdag
 */
/* Footer End */

@media screen and (max-width: 480px) {
  
  * {
  box-sizing: border-box;
}
.hidden{
  visibility: hidden;
  position: absolute;
  transform: scale(0);
}

body{
  width: 100vw;
  padding: 0;
  margin: 0;
}


.navbarContent{
    padding: 0px 20px;
}



.responsiveHidden{
    visibility: visible;
    transform: scale(1);
    position: relative;
}

.logoText{
  margin: 0;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 1.875rem;
}

.logo{
    width: 150px;
}

.login {
    font-size: 1.5rem;
    margin:0;
    padding: 0;
    text-align: left;
}

.navSignup {
    height: 50px;
    margin: 30px 0px;
    width: 200px;
    border-radius: 6px;
    font-size: 1rem;
    transform: translate(0,0);
}

.WholeContainer{
  width: 100%;
  margin: 0;
}
.signup{
    height: 25px;
    width: 127px;
    border-radius: 4px;
    font-size: 10px;
 
}

.signup:hover{
    background-color: rgba(31, 93, 176, 1);

}

.responsiveBar{
    visibility: visible;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.responsiveBarLine{
    width: 25px;
    height: 3px;
    background-color: rgb(0, 0, 0);
    border-radius: 5px;
    transition: all .5s  ;

}
.responsiveBarLine::before, .responsiveBarLine::after{
    content: ' ';
    position: absolute;
    width: 25px;
    height: 3px;
    background-color: rgb(0, 0, 0);
    border-radius: 5px;
    transition: all .5s  ;
}

.responsiveBarLine::before{
    transform: translateY(-7px);
}

.responsiveBarLine::after{
    transform: translateY(7px);
}

/* Animation */
.responsiveBar.open .responsiveBarLine{
    transform: translateX(0px);
    background: transparent;
}
.responsiveBar.open .responsiveBarLine::before{
    transform: translate(0px, 0px) rotate(45deg);
}
.responsiveBar.open .responsiveBarLine::after{
    transform: translate(0px, 0px) rotate(-45deg);
}
.navBarResponsive.open {
    transform: translateX(-00vw);

}
/* End */

.navBarResponsive{
    width: 100%;
    height: 100vh;
    transform: translateX(-100vw);


    z-index: +10;
    background-color: white;
    margin: 0px 0px;
    padding: 50px 20px 40vh 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-bottom: rgba(128, 128, 128, 0.199) 1px solid;
    list-style: none;
    font-size: 1.5rem;
    transition: all .5s;
    visibility: visible;
}
.navBarResponsive li{
    margin: 10px 0px;
}




/* Sec1 */

.Sec1Container{
    position: relative;
    padding: 50px 10px;
    width: 100%;
    height: 800px;
    background-color: rgba(255, 255, 255, 1);
    display: flex;
    flex-direction: column;

}



.writeUps{
    padding: 20px 0px;
    text-align: center;
}
.writeUps p{
    text-align: center;
    margin: 0;
    font-size: 30px;
    
}

.writeUps h6{
    width: 100%;
    margin: 20px  0px;
    font-size: 14px;

}

.animationGrid{
    padding: 20px 0px;
}


/* Sec1 End */
.section1_2{
    padding: 50px 10px;
}
.section1_2Container_header{
    font-size: 24px;
}

.section1_2Container_content img{
    height: 280px;
}

.section1_2Container_footer{
        font-size: 14px;
}
.section1_3Container_content_icons{
    flex-wrap: wrap;
    justify-content: center;
}

/*  Sec1_2 */

.section1_3{
    padding: 50px 10px;
}

.section1_3Container{
    height: auto;
}
.section1_3Container_header{
    font-size: 24px;
    text-align: center;
}
.section1_3Container_content_image {
    margin: 20px 0px;
}
.section1_3Container_content_image img{
    width: 160px;
}
.section1_3Container_content_writeUp{
    font-size: 14px;
}


/* Sec 1_3 */
.section2{
    padding: 40px 10px;
}
.section2Pre_container h2{
    font-size: 24px;
}
.section2Pre_container p{
    font-size: 14px;
}

.sec2ResponsiveContainer{
    height: 100vh;
}

.sec3writeup{
    font-size: 24px;
    margin-bottom: 0;
}
.innerContainer{
    flex-direction: column;
}
.innerContainer1{
    margin: 25px 0px;
}
.innerContainer1 h2{
    font-size: 22px;
}
.innerContainer1 p{
    font-size: 15px;
}
/* sec3End */

.Sec4Container{
    padding: 50px 0px;
    display: flex;
    flex-direction: column;
    height: 800px;
}

.sec4Writeup{
    width: 90%;
    height: auto;
    margin: 0;
    display: inline-block;
    font-size: 28px;
    font-weight: 650;
    z-index: 2;
    text-align: center;
}
.sec4Writeup h3{
    font-size: 24px;
}

.sec4Writeup p{
    width: auto;
    font-size: 14px;
}


.sec4image{
    margin-top: 50px;
}
.phoneDashboard {
    height: auto;
}

/* Sec4End */

.section5_2{
    background-image: none;
    background-color: #F1F7FF;
}
.sec5_2Content{
    background-size: auto;
    background-position:50% 100% ;
        padding: 40px 10px;
height: 650px;
}
.sec5_2Content h1{
    font-size: 24px;
}
.sec5_2Content p{
    font-size: 14px;
    width: 100%;
}   
.sec5_2Content h2{
    font-size: 36px;
}
.sec5_2Content_bottom{
    width: 100%;
}
.section6Container_content_icons div{
    height: auto;
}
.section6Container_content_icons img{
    height: 60px;
}
.section6Container_content_icons p{
    font-size: 12px;
}

/* Sec5End */

.footer{
         padding: 0vh 5vw;
}

.footerBrand p{
    font-size: 1.563rem;
    font-weight: 600;
    margin-left: 20px;
}
.logo.bottom{
    padding: 0px 0px;
    padding-top: 15px;
}

.footerContact{
    width: 150px;
}

.footerContact li{
    list-style: none;
    display: inline-block;
    font-size: 13px;
}

.footerCopyright{
    border-top: 1px solid grey;
    margin: 0vh 0vw ;
    flex-direction: column;
}
.footerCopyright p{
    font-size: .8rem;
    margin: 0;
    margin-top: 10px;
}

.footerCopyright-Right{
align-self: flex-end;

}
.footerCopyright-Right img{
    height: 40px;
}






}

@media screen and (max-width: 768px) and (min-width: 481px) {

     html,body{
        font-size: 10px;
    }
    .addTop{
    top: 60px;
}
    .logo{
        width: 150px;

    }
    .animationGridBlueCircle{
    position: relative;
    height: 400px;
    width: 400px;
    background-color: #F1F7FF;
    border-radius: 500px;

}

     .animationGridBlueCircle img{
    transform: translate(-0%,-10%);
    height: 140%;
} 
.sec2Label li{
        font-size: 15px;

}

.sec2Label li.current-link{
    font-size:18px ;
}


.displayBoxImageAgain{
    height: 330px;
}

.sec2image img{
    width: 175px;
    margin: 0px 60px;
}

.displayBoxWriteUp{



}

.anim{
    position: absolute;
}
.anim h2{
    font-size: 25px;
    margin: 10px 0px;
}
.anim p{
    font-size: 15px;
    margin: 0;
}

.Sec4Container{
    padding: 0px;
    margin: 0px 0px 0px 40px;

}
.sec4image img{
    width: 70%;
}

.footerContact{
    width: 150px;
}

}

@media screen and (max-width: 1024px) and (min-width: 769px)  {

    html,body{
        font-size: 12px;
    }
    .animationGridBlueCircle img{
    transform: translate(-0%,-10%);
    height: 140%;
} 

.sec2Label li{
        font-size: 15px;

}

.sec2Label li.current-link{
    font-size:18px ;
}


.displayBoxImageAgain{
    height: 470px;
}

.sec2image img{
    width: 250px;
    margin: 0px 60px;
}

.displayBoxWriteUp{

}

.anim{
    position: absolute;
}
.anim h2{
    font-size: 30px;
    margin: 10px 0px;
}
.anim p{
    font-size: 15px;
    margin: 0;
}


.Sec4Container{
    padding: 0px;
    margin: 0px 0px 0px 40px;

}
.sec4image img{
    width: 70%;
}

    .footer{
         padding: 5vh 10vw;
}


.footerBrand p{
    font-size: 1.563rem;
    font-weight: 600;
    margin-left: 20px;
}

.footerContact li{
    list-style: none;
    display: inline-block;
    font-size: 13px;
}

.footerCopyright{
    border-top: 1px solid grey;
    margin: 0vh 0vw ;
    flex-direction: column;
}

.footerCopyright-Right{
align-self: flex-end;

}

}

@media screen and (max-width: 1440px) and (min-width: 1025px)  {

.Sec4Container{
    padding: 0px;
    margin: 0px 0px 0px 150px;

}
.sec4image img{
    width: 70%;
}


}