*{
    box-sizing: border-box;
}
.popUpLogin{
  position: absolute;
}

.blackBox{
  position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.822);
    transform: scale(1);
    transition:  .5s ;
    z-index: 7;
    
}

.wrapper{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: 1s ;
  width: 380px;
  background: #fff;
  border-radius: 15px;
  box-shadow: 0px 10px 20px rgba(255, 255, 255, 0.548);
  z-index: 9;
}

.wrapper .title button{
  text-decoration: none;
  border: none;
  font-size: 55px;
  background-color:inherit;
  color: inherit;
  cursor: pointer;
}
.activate{
  transform: translate(-50%, -50%) scale(0);
    
}
.wrapper .title{
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  font-size: 35px;
  font-weight: 600;
  text-align: center;
  line-height: 100px;
  color: #fff;
  user-select: none;
  border-radius: 15px 15px 0 0;
background: rgb(47,128,237);
background: linear-gradient(90deg, rgba(47,128,237,1) 0%, rgba(37,148,241,1) 26%, rgba(80,225,255,1) 100%);}
.wrapper form{
  padding: 10px 30px 50px 30px;
}
.wrapper form .field{
  height: 50px;
  width: 100%;
  margin-top: 20px;
  position: relative;
}
.wrapper form .field input{
  height: 100%;
  width: 100%;
  outline: none;
  font-size: 17px;
  padding-left: 20px;
  border: 1px solid lightgrey;
  border-radius: 25px;
  transition: all .3s ease;
}
.wrapper form .field input:focus,
form .field input:valid{
  border-color: #4158d0;
}
.wrapper form .field label{
  position: absolute;
  top: 50%;
  left: 20px;
  color: #999999;
  font-weight: 400;
  font-size: 17px;
  pointer-events: none;
  transform: translateY(-50%);
  transition: all 0.3s ease;
}
form .field input:focus ~ label,
form .field input:valid ~ label{
  top: 0%;
  font-size: 16px;
  color: #4158d0;
  background: #fff;
  transform: translateY(-50%);
}
form .content{
  display: flex;
  width: 100%;
  height: 50px;
  font-size: 16px;
  align-items: center;
  justify-content: space-around;
}
form .content .checkbox{
  display: flex;
  align-items: center;
  justify-content: center;
}
form .content input{
  width: 15px;
  height: 15px;
  background: red;
}
form .content label{
  color: #262626;
  user-select: none;
  padding-left: 5px;
}
form .content .pass-link{
  color: "";
}
form .field input[type="submit"]{
  color: #fff;
  border: none;
  padding-left: 0;
  margin-top: -10px;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
background: rgb(47,128,237);
background: linear-gradient(90deg, rgba(47,128,237,1) 0%, rgba(37,148,241,1) 26%, rgba(80,225,255,1) 100%);  transition: all 0.3s ease;
}
form .field input[type="submit"]:active{
  transform: scale(0.95);
}
form .signup-link{
  color: #262626;
  margin-top: 20px;
  text-align: center;
}
form .pass-link a,
form .signup-link a{
  color: #4158d0;
  text-decoration: none;
}
form .pass-link a:hover,
form .signup-link a:hover{
  text-decoration: underline;
}