*{
    box-sizing: border-box;
}
.signUpBox{
    height: auto;
    width: 700px;
}

.signUpBox .signUpBoxHeader{
    padding: 40px 20px;
    background-color: rgb(30, 41, 185);
    color: white;

}
.signUpBox .signUpBoxBody{
    height: 100%;
    padding: 20px 0px;
    display: flex;
}

.signUpBox .signUpBoxBody .signUpBoxLeft{
    flex: 3;

    display: flex;
    flex-direction: column;
    justify-content:center;

}
.signUpBox .signUpBoxBody .signUpBoxLeft input,select{
    font-size: 20px;
    border-radius: 4px;
    padding: 10px;
    width: 100%;
    border: 2px solid ;

}
.formControl{
    margin-bottom: 20px;
    position: relative;
}
.formControl i{
    position: absolute;
    transform: translateY( -32px);
    right: 20px;
    visibility: hidden;
}
.formControl small{
    color: red;
    padding: 10px;
    visibility: hidden;
}
.signUpBox .signUpBoxBody .signUpBoxLeft .formControl.success input{
    border-color:  rgb(10, 211, 10);
}
.signUpBox .signUpBoxBody .signUpBoxLeft .formControl.success i.fa-check-circle{
    color: rgb(10,211,10);
    visibility: visible;
}
.signUpBox .signUpBoxBody .signUpBoxLeft .formControl.error input{
     border-color:  rgb(204, 48, 48);

}
.signUpBox .signUpBoxBody .signUpBoxLeft .formControl.error i.fa-exclamation-circle{
    color: rgb(204, 48, 48);
    visibility: visible;
}
.signUpBox .signUpBoxBody .signUpBoxLeft .formControl.error small{
    visibility: visible;

}


.signUpBox .signUpBoxBody .signUpBoxMiddle{
    flex: 1;

    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;

}
.signUpBox .signUpBoxBody .signUpBoxRight{
    flex: 2;

    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;

 
}